<form method='post'>
  <label for='area'>Area</label>
  <select name='area' id='area'>
    <% areas.each do |a| %>
      <option value=<%= a %>> <%= a.to_s.humanize %> </option>
    <% end %>
  </select>
  <input type='submit'/>
</form>
