<div>

  <h2>Area: <%= area %></h2>

  <table>
    <tr>
      <td>
        Date
      </td>
      <td>
        Rent Price
      </td>
    </tr>

    <% results.each do |e| %>
    <tr>
      <td>
        <%= e.logged_date %>
      </td>
      <td>
        <%= e.price %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
